<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus accusamus facilis quia quibusdam. Laudantium nihil, inventore dolore, 
            fuga maxime quis expedita, nesciunt debitis aliquam 
            minima eos quo quibusdam quidem eveniet.</p>
    </div>
</div>